body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: white;
    color: black;
}

.resume {
    max-width: 800px;
    margin: auto;
}

.header h1 {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.contact-info p {
    font-size: 12px;
}

section h2 {
    background: #333;
    color: white;
    padding: 5px;
    font-size: 18px;
}

section p, li {
    font-size: 12px;
}

.projects a:hover {
    background-color: #a9a9a9; /* Replace #darkerColor with the actual color you want */
    color: #00008b; /* Optional: Change text color on hover if needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

.courses-skills {
    display: flex;
    justify-content: space-between;
}

.courses, .skills {
    width: 48%;
}

.work-experience ul {
    list-style-type: disc; /* This will ensure bullet points are shown */
    margin-left: 20px; /* This adds some space before the bullet points */
}

.work-experience li {
    margin-bottom: 5px; /* This adds some space between the bullet points */
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    font-size: 14px;
    margin-top: 10px;
}

.activities {
    margin-top: 20px;
}

/* Add any additional styles that you see necessary to match the PDF's look */
